* {
  padding: 0;
  margin: 0;
  font-family: 'Belanosima', sans-serif;
}

a {
  text-decoration: none;
}

/* Index.html */
nav {
  grid-area: nav;
  background-color: #86b2f8;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
}

nav > img {
  height: 40px;
  margin-left: 10px;
}

.container-header {
  grid-area: container-header;
  background-color: #010418;
  height: 200px;
  width: 100%;
}

#imagemPerfil {
  z-index: 1;
  border-radius: 100%;
  height: 150px;
  width: 150px;
  border: 4px solid #000;
}

#follow {
  background-color: #86b2f8;
  font-size: large;
  border: 4px solid #669aee;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border-radius: 25px;
}

#follow:hover {
  border: 4px solid #010418;
}

#follow > span {
  margin: 0 7px;
}

#follow > img {
  width: 25px;
}

.icon {
  width: 30px;
}

.divImgPerfil {
  grid-area: perfil;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.text {
  grid-area: header-description;
}

.text > p{
  grid-area: paragraph;
  font-size: 20px;
}

.information {
  grid-area: information;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
}

.description {
  grid-area: description;
  display: grid;
  gap: 20px;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 70px 100px 50px;
  grid-template-areas:
  '1 perfil 3'
  '1 header-description 3'
  '1 information 3';
}

header {
  grid-area: header;
  display: grid;
  grid-template-rows: 200px auto;
  grid-template-areas: 
  'container-header'
  'description';
}

main {
  grid-area: main;
}

.menu {
  list-style: none;
  font-size: 20px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
}

.menu a {
  z-index: 100;
  color: #000;
}

.menu span {
  padding: 6px 15px;
  margin: 0 auto;
}
.menu li {
  z-index: 100;
  padding: 10px;
}

.menu li:hover {
  background-color: gray;
  
}

.menu .selected {
  border-bottom: 4px solid blue;
}

.footer-links {
  grid-area: footer-links;
}

.footer-author {
  grid-area: footer-author;
}

.container-footer {
  display: grid;
  grid-row: 40px 20px;
  gap: 20px;
  grid-template-areas: 
    'footer-links'
    'footer-author';
}

footer {
  z-index: 100;
  grid-area: footer;
  width: 100%;
  bottom: 0;
  background-color: #86b2f8;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 0.5fr 1.5fr 0.5fr;
  grid-template-rows: 60px 480px auto auto;
  grid-template-areas: 
    'nav nav nav'
    '1 header 3'
    '1 main 3'
    'footer footer footer';
}

/* feed.html */

.post {

}

.timeLine {
  display: grid;
  grid-template-rows: ;
}